streamlit
pandas
numpy
matplotlib
plotly
Pillow
scikit-learn
scipy
requests
altair
cachetools
click
pytz
tenacity
pyarrow
qrcode[pil]
Seaborn
TensorFlow or PyTorch
XGBoost
LightGBM
CatBoost
Dask
NLTK
OpenCV
streamlit-cookies-manager
python-dotenv
